body {
  text-align: center;
 /* font-family:'Courier New', Courier, monospace;
  */
 /* font-family: Georgia, 'Times New Roman', Times, serif;
  */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a {
  color: black;
}
h1.main-hero {
  font-size: 60px;
}
p.title {
  line-height: 100%;
  font-weight: bold;
}
img.thumbnail {
  width: 100px;
  margin-bottom: 10px;
}
img.big-image {
  width: 200px;
  margin-bottom: 20px;
}
div#header {
  background-color: rgba(93, 189, 206);
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
div.thumbnail {
  background-size: cover;
  background-position: center;
  border-color: #FFCB05;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: width 0.5s ease-in-out;
  margin: 30px;
  float: left;
  text-align: center;
  width: 200px;
  height: 300px;
  cursor: pointer;
}
div#wishlist-overlay {
  padding: 20px;  
  /* float: right; */
  position: absolute;
  display: block;
  transition: 0.3s ease;
  width: 0;
  height: fit-content;
  top: 350px;
  right: -40px;
  bottom: 0;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* z-index: 2; */
  text-align: left;
  overflow: hidden;
}
div.custom-overlay {
  position: fixed;
 /* Sit on top of the page content */
  display: none;
 /* Hidden by default */
  width: 100%;
 /* Full width (cover the whole page) */
  height: 100%;
 /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
 /* Black background with opacity */
  z-index: 2;
 /* Specify a stack order in case you're using a different order for other elements */
}
div.details-inner-container {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  padding: 50px;
  width: 40%;
}

div#leftContainer {
  float: left;
  width: 40vw;
}
div#rightContainer {
  float: right;
  padding: 15px 30px;
  width: 60vw;
}

ul#comment-list {
  max-height: 12.5vh;
  overflow-y: scroll;
}

div#list-name-heading {
  padding: 5px;
}
button.custom-button {
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 10px;
  border: solid 1px rgb(30, 61, 66);
  background: #fff;
  transition: all 0.3s ease-out;
  color: #000;
  font-weight: normal;
}

button.custom-button:hover {
  background: rgba(93, 189, 206);
  color: #fff;
}
button.custom-button#exit-btn {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.4rem;
  padding: 8px;
  padding-top: 0.3px;
  padding-bottom: 1.2px;
}
button.custom-button#buyBtn, button.custom-button#removeBtn, button.custom-button#detailsBtn {
  padding: 1px 5px;
  margin: 0 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
span#wishlist-icon {
  position: absolute;
  right: 8vw;
  margin: 0 0 -20px 0;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px rgb(30, 61, 66);
  background: white;
  padding: 5px 10px 5px 15px;
}
img#wishlist-img {
  width: 30px;
}
li {
  border-bottom: 1px solid rgba(93, 189, 206);
  padding: 10px 0;
}
#list-name-select {
  padding: 5px;
}

span#rank {
  float: left;
  background-color: white;
  border-radius: 15px;
  padding: 2px 7px;
}
form#comment-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 1.5vh;
}

.open-heart {
  float: right;
  background-color: white;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding: 4px 8px 2px 8px;
}

.full-heart {
  float: right;
  background-color: white;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  padding: 4px 10px 2px 10px;
}